  <div class="pushToBottom match-head-foot" style="background-color: #fbfbf7; padding-top: 0;" >
  <div class="container-fluid" style="margin-top: 0;">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mb-4 mx-3 border-top">
      <p class="col-md-4 mb-0 text-body-secondary">© 2024 NoteYourBooks</p>
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
      </ul>
    </footer>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
  const stars= document.getElementsByClassName("star")
  console.log(stars);
  for(let i=0;i<stars.length;i++){
    stars[i].addEventListener('click',()=>{
      let rating;
      switch(stars[i].id){
        case "star1": rating=1;
                      break;
        case "star2": rating=2;
                      break; 
        case "star3": rating=3;
                      break;
        case "star4": rating=4;
                      break;  
        case "star5": rating=5;
                      break;
        default: rating=0;                                                                      
      }
    for (let j = 0; j < rating; j++) {
      stars[j].style.color = "orange"; 
    }
    for (let j = rating; j < stars.length; j++) {
      stars[j].style.color = "black";  
         }
    document.getElementById("book-rate").setAttribute("value",`${rating}`)
    })
  }
</script>
</body>
</html>