<%- include("partials/header.ejs") %>
<div class="container-fluid px-4 py-5 section-books"  id="custom-cards">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5" >
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('demo.jpg');background-repeat:no-repeat;background-position:top; background-size: cover; ">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('demo3.jpg'); background-repeat: no-repeat; background-size: cover; background-position: 50% 48%; ;">
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('demo2.jpg'); background-size: cover; background-position: 50% 75%; background-repeat: no-repeat;">
        </div>
      </div>
    </div>
  </div>
<%- include("partials/footer.ejs") %>
</body>
</html>