body{
    margin:0;
    display:flex;
    flex-direction: column;
    height:100vh;
}

.link-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}
.link-button:focus {
    outline: none;
}

.card-cover {
    min-height: 400px;
}

.pushToBottom{
    margin-top:auto;
}

.wrapper-books{
    display: flex;
    flex-wrap: wrap;
    gap:10px;

}

.match-head-foot{
    background-color: #fbfbf7;
}

.section-header{
    background-color: #e9e5d4;
}

.section-books{
    background-color: #f6f6ee;
}

.books-read:hover{
     cursor: pointer;
     border:2px black solid; 
}