body{
    margin:0;

}

.link-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}
.link-button:focus {
    outline: none;
}

.card-cover {
    min-height: 400px;
}